<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:名称空间
-->
<mapper namespace="com.wounom.kaoyanircpadmin.mapper.UniversityMapper">
    <!--userGenerateKeys属性:开启某个字段的值的递增
        keyProperty:标签将表中的哪个字段作为主键递增
        resultType
        resultMap: 当表的
    -->
    <select id="getByName" resultType="com.wounom.kaoyanircpadmin.entity.University">
        select * from university where universityName = #{universityName}
    </select>

    <insert id="insert">
        insert into university(universityName,universityIntroduce,universityDistrict,universityHigherup,ifDouble,ifGraduate,ifIndependent,image,officialnet,address,post,phone)
            values(#{universityName},#{universityIntroduce},#{universityDistrict},#{universityHigherup},#{ifDouble},#{ifGraduate},#{ifIndependent},#{image},#{officialnet},#{address},#{post},#{phone})
    </insert>

    <delete id="deleteById">
        delete from university where universityId = #{universityId}
    </delete>

    <select id="getByDistrict" resultType="com.wounom.kaoyanircpadmin.entity.University">
        select * from university where universityDistrict = #{universityDistrict}
    </select>

    <select id="getById" resultType="com.wounom.kaoyanircpadmin.entity.University">
        select * from university where universityId = #{universityId}
    </select>


    <update id="update" parameterType="com.wounom.kaoyanircpadmin.entity.University">
        update university
        <set>
            <if test="universityName != null">
                universityName=#{universityName},
            </if>
            <if test="universityIntroduce != null">
                universityIntroduce=#{universityIntroduce},
            </if>
            <if test="universityDistrict != null">
                universityDistrict=#{universityDistrict},
            </if>
            <if test="universityHigherup != null">
                universityHigherup=#{universityHigherup},
            </if>
            <if test="ifDouble != null">
                ifDouble=#{ifDouble},
            </if>
            <if test="ifGraduate != null">
                ifGraduate=#{ifGraduate},
            </if>
            <if test="ifIndependent != null">
                ifIndependent=#{ifIndependent},
            </if>
            <if test="image != null">
                image=#{image},
            </if>
            <if test="officialnet != null">
                officialnet=#{officialnet},
            </if>
            <if test="address != null">
                address=#{address},
            </if>
            <if test="post != null">
                post=#{post},
            </if>
            <if test="phone != null">
                phone=#{phone},
            </if>
        </set>
        where universityId = #{universityId}
    </update>
</mapper>